@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f9fc;
  font-family: "Lora", serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.header-main {
  display: flex;
  margin-top: 25px;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 20px;
}

.header-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

address {
  flex: 1;
  align-self: center;
  padding-left: 60px;
  font-style: normal;
  line-height: 1.6;
}

address p {
  margin-bottom: 8px;
}

address a {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

address a:hover {
  color: #0055aa;
}

#profileAddress {
  display: inline;
  line-height: 2.5;
  vertical-align: middle;
}
address i {
  margin-right: 5px; /* Space between icon and text */
  color: #555; /* Icon color */
}

img {
  border-radius: 50%;
  width: 135px;
  height: 135px;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: bold;
}

h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

.header-titler {
  font-size: 14px;
  color: #212121;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
}

.erfaring {
  margin-top: 25px;
  border-left: 2px solid #d8d8d8;
  padding-left: 20px;
}

.erfaring h2 {
  margin-bottom: 25px;
}

.profil {
  margin-top: 25px;
}

.profil h2 {
  margin-bottom: 25px;
}

/* For Erfainger og utdanning cards*/
.jobTemplate,
.education-entry {
  padding: 15px 0;
  background-color: #f9f9f9; /* light gray */
  border-radius: 5px;
  margin-bottom: 20px;
}

.jobTemplate:first-of-type {
  padding: 0;
}

.jobTemplate header,
.education-entry header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.utdanning h3 {
  margin-top: 30px;
}
.jobTemplate h4,
.education-entry h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 2px 0;
}

.jobTemplate time,
.jobTemplate .date-separator,
.education-entry time,
.education-entry .date-separator {
  color: #888;
}

.jobTemplate p,
.education-entry p {
  margin-top: 10px;
}

/* Kompetanse */
.kompetanse-list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.kompetanse-list h4 {
  flex-basis: 100px;
  flex-shrink: 0;
}

.kompetanse-list ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.6;
  column-count: 1; /* By default, use 1 column */
  column-gap: 20px;
}

.kompetanse-list ul.two-columns {
  column-count: 2; /* Use 2 columns when the class is added */
  flex-basis: 300px;
}

.kompetanse h3 {
  margin-bottom: 20px;
}

/* om meg */

.ommeg h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.ommeg #omMeg {
  margin-bottom: 30px;
}

#referanser {
  margin-top: 6px;
}
