*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f9fc;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.header-main {
  display: flex;
  margin-top: 30px;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 20px;
}

.header-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

address {
  flex: 1;
  align-self: center;
  padding-left: 60px;
  font-style: normal;
  line-height: 1.6;
}

address p {
  margin-bottom: 8px;
}

address a {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

address a:hover {
  color: #0055aa;
}

#profileAddress {
  display: inline;
  line-height: 2.5; 
  vertical-align: middle; /
}
address i {
  margin-right: 5px; /* Space between icon and text */
  color: #555; /* Icon color */
}

img {
  border-radius: 50%;
  width: 135px;
  height: 135px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.header-titler {
  font-size: 14px;
  color: #212121;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 30px;
}

.erfaring {
  border-left: 2px solid #d8d8d8;
  padding-left: 20px;
}
