*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f9fc;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

section {
  display: flex;
  align-items: center;
  gap: 20px;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.header-titler {
  font-size: 14px;
  color: #212121;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profil {
  display: flex;
  flex-direction: column;
}

.erfaring {
  display: flex;
  flex-direction: column;
}
